{%extends './base.html'%}
    {%block content%}
    {%load static%}
    <!-- Start Slider -->
    <div id="slides-shop" class="cover-slides">
        <ul class="slides-container">
            <li class="text-center">
                <img src="{% static 'Store/images/banner-01.jpg'%}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>SIMPLY ELEGANT <br></strong></h1>
                            <p class="m-b-40">With a wide range of collections,<br>You will be spoilt for choice.<br>Get amazing offers today!</p>
                            <p><a class="btn hvr-hover" href="shop.html">Shop</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="{% static 'Store/images/banner-02.jpg'%}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>SIMPLY ELEGANT <br> </strong></h1>
                            <p class="m-b-40">With a wide range of collections,<br>You will be spoilt for choice.<br>Get amazing offers today!</p>
                            <p><a class="btn hvr-hover" href="shop.html">Shop</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="{% static 'Store/images/banner-03.jpg'%}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>SIMPLY ELEGANT<br></strong></h1>
                            <p class="m-b-40">With a wide range of collections,<br>You will be spoilt for choice.<br>Get amazing offers today!</p>
                            <p><a class="btn hvr-hover" href="{%url 'shop'%}">Shop</a></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- End Slider -->
    <div class="categories-shop">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Our Collections</h1>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static 'Store/images/categories_img_01.jpg'%}" alt="" />
                        <a class="btn hvr-hover" href="{%url 'mycart'%}">Dresses</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static 'Store/images/categories_img_02.jpg'%}" alt="" />
                        <a class="btn hvr-hover" href="#">Shirts</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static 'Store/images/categories_img_03.jpg'%}" alt="" />
                        <a class="btn hvr-hover" href="#">Accessories</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Categories -->

    <!-- Start Products  -->
    <div class="products-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Check Out Our New Arrivals</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">

                    <!-- to be reused -->
                    <!-- <div class="special-menu text-center">
                        <div class="button-group filter-button-group">
                            <button class="active" data-filter="*">All</button>
                            <button data-filter=".top-featured">Top featured</button>
                            <button data-filter=".best-seller">Best seller</button>
                        </div>
                    </div> -->


                </div>
            </div>

            <div class="row special-list">
                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="sale">Sale</p>
                            </div>
                            <img src="{% static 'Store/images/img-pro-01.jpg'%}" class="img-fluid" alt="Image">
                            <div class="mask-icon">
                                <ul>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                </ul>
                                <a class="cart" href="#">Add to Cart</a>
                            </div>
                        </div>
                        <div class="why-text">
                            <h4>Lorem ipsum dolor sit amet</h4>
                            <h5> $7.79</h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 special-grid top-featured">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="new">New</p>
                            </div>
                            <img src="{% static 'Store/images/img-pro-02.jpg'%}" class="img-fluid" alt="Image">
                            <div class="mask-icon">
                                <ul>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                </ul>
                                <a class="cart" href="#">Add to Cart</a>
                            </div>
                        </div>
                        <div class="why-text">
                            <h4>Lorem ipsum dolor sit amet</h4>
                            <h5> $9.79</h5>
                        </div>
                    </div>
                </div>

                

                
                
    
                    
                    
    
                    
            </div>
        </div>
    </div>
    <!-- End Products  -->

    <!-- Size selection  -->

    <div class="col-lg-12">
        <div class="title-all text-center">
            <h1>Our Size Selection</h1>
        </div>
    </div>

    <div class="box-add-products">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="offer-box-products">
                        <div class="box-img-hover">
                            <img class="img-fluid" src="{% static 'Store/images/add-img-03.jpg'%}" alt="" />
                            <div class="mask-icon">
                                <a class="cart" href="#">Petite</a>
                            </div>
                        </div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="offer-box-products">
                        <div class="box-img-hover">
                            <img class="img-fluid" src="{% static 'Store/images/add-img-04.jpg'%}" alt="" />
                            <div class="mask-icon">
                                <a class="cart" href="#">Plus Size</a>
                            </div>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div class="box-add-products">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="offer-box-products">
                        <div class="box-img-hover">
                            <img class="img-fluid" src="{% static 'Store/images/add-img-03.jpg'%}" alt="" />
                            <div class="mask-icon">
                                <a class="cart" href="#">Free Size</a>
                            </div>
                        </div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="offer-box-products">
                        <div class="box-img-hover">
                            <img class="img-fluid" src="{% static 'Store/images/add-img-04.jpg'%}" alt="" />
                            <div class="mask-icon">
                                <a class="cart" href="#">Normal Size</a>
                            </div>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>


    <!-- End size selction -->
    <!-- Start Blog  -->
    <div class="latest-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Check Our Instagram Page</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="blog-box">
                        <div class="blog-img">
                            <img class="img-fluid" src="{% static 'Store/images/blog-img.jpg'%}" alt="" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="blog-box">
                        <div class="blog-img">
                            <img class="img-fluid" src="{% static 'Store/images/blog-img-01.jpg'%}" alt="" />
                        </div>
                        <div class="blog-content">                    
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="blog-box">
                        <div class="blog-img">
                            <img class="img-fluid" src="{%static 'Store/images/blog-img-02.jpg'%}" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog  -->
    {%endblock content%}

    