{%extends './base.html'%}
    {%block content%}
    {%load static%}

    <!-- Start Slider -->
    <div id="slides-shop" class="cover-slides">
        <ul class="slides-container">
            <li class="text-center">
                <img src="{% static 'Store/images/banner-01.jpg'%}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>SIMPLY ELEGANT <br></strong></h1>
                            <p class="m-b-40">With a wide range of collections,<br>You will be spoilt for choice.<br>Get amazing offers today!</p>
                            <p><a class="btn hvr-hover" href="{%url 'shop'%}">Shop</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="{% static 'Store/images/banner-02.jpg'%}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>SIMPLY ELEGANT <br> </strong></h1>
                            <p class="m-b-40">With a wide range of collections,<br>You will be spoilt for choice.<br>Get amazing offers today!</p>
                            <p><a class="btn hvr-hover" href="{%url 'shop'%}">Shop</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="{% static 'Store/images/banner-03.jpg'%}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>SIMPLY ELEGANT<br></strong></h1>
                            <p class="m-b-40">With a wide range of collections,<br>You will be spoilt for choice.<br>Get amazing offers today!</p>
                            <p><a class="btn hvr-hover" href="{%url 'shop'%}">Shop</a></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- End Slider -->

    <div class="categories-shop">
        <div class="container">
            <div class="products-box">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
        
                            <!-- to be reused -->
                            <div class="special-menu text-center">
                                <div class="button-group filter-button-group">
                                    <button class="active" data-filter="*">All</button>
                                    <button data-filter=".top-featured">Trending</button>
                                    <button data-filter=".best-seller">Best seller</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Featured slider -->

                    <div class="row my-5">
                        <div class="col-lg-12">
                            <div class="title-all text-center">
                                <h1>Top Trending Today</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim.</p>
                            </div>
                            <div class="featured-products-box owl-carousel owl-theme">
                                <div class="item">
                                    <div class="products-single fix">
                                        <div class="box-img-hover">
                                            <img src="{% static 'Store/images/img-pro-02.jpg'%}" class="img-fluid" alt="Image">
                                            <div class="mask-icon">
                                                <ul>
                                                    <li><a href="{%url 'shop'%}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                            
                                                    <li><a href="{%url 'wishlist'%}" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                </ul>
                                                <a class="cart" href="{%url 'mycart'%}">Add to Cart</a>
                                            </div>
                                        </div>
                                        <div class="why-text">
                                            <h4>Lorem ipsum dolor sit amet</h4>
                                            <h5> Ksh 2500</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="products-single fix">
                                        <div class="box-img-hover">
                                            <img src="{% static 'Store/images/img-pro-04.jpg'%}" class="img-fluid" alt="Image">
                                            <div class="mask-icon">
                                                <ul>
                                                    <li><a href="{%url 'shop'%}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                            
                                                    <li><a href="{%url 'wishlist'%}" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                </ul>
                                                <a class="cart" href="{%url 'mycart'%}">Add to Cart</a>
                                            </div>
                                        </div>
                                        <div class="why-text">
                                            <h4>Lorem ipsum dolor sit amet</h4>
                                            <h5> Ksh 4500</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="products-single fix">
                                        <div class="box-img-hover">
                                            <img src="{% static 'Store/images/img-pro-01.jpg'%}" class="img-fluid" alt="Image">
                                            <div class="mask-icon">
                                                <ul>
                                                    <li><a href="{%url 'shop'%}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                            
                                                    <li><a href="{%url 'wishlist'%}" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                </ul>
                                                <a class="cart" href="cart.html">Add to Cart</a>
                                            </div>
                                        </div>
                                        <div class="why-text">
                                            <h4>Lorem ipsum dolor sit amet</h4>
                                            <h5> Ksh 3080</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="products-single fix">
                                        <div class="box-img-hover">
                                            <img src="{% static 'Store/images/img-pro-03.jpg'%}" class="img-fluid" alt="Image">
                                            <div class="mask-icon">
                                                <ul>
                                                    <li><a href="{%url 'shop'%}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                            
                                                    <li><a href="{%url 'wishlist'%}" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                </ul>
                                                <a class="cart" href="cart.html">Add to Cart</a>
                                            </div>
                                        </div>
                                        <div class="why-text">
                                            <h4>Lorem ipsum dolor sit amet</h4>
                                            <h5> Ksh 6000</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="products-single fix">
                                        <div class="box-img-hover">
                                            <img src="{% static 'Store/images/img-pro-04.jpg'%}" class="img-fluid" alt="Image">
                                            <div class="mask-icon">
                                                <ul>
                                                    <li><a href="{%url 'shop'%}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                            
                                                    <li><a href="{%url 'wishlist'%}" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                </ul>
                                                <a class="cart" href="cart.html">Add to Cart</a>
                                            </div>
                                        </div>
                                        <div class="why-text">
                                            <h4>Lorem ipsum dolor sit amet</h4>
                                            <h5> Ksh 6000</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="products-single fix">
                                        <div class="box-img-hover">
                                            <img src="{% static 'Store/images/img-pro-03.jpg'%}" class="img-fluid" alt="Image">
                                            <div class="mask-icon">
                                                <ul>
                                                    <li><a href="{%url 'shop'%}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                            
                                                    <li><a href="{%url 'wishlist'%}" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                </ul>
                                                <a class="cart" href="cart.html">Add to Cart</a>
                                            </div>
                                        </div>
                                        <div class="why-text">
                                            <h4>Lorem ipsum dolor sit amet</h4>
                                            <h5> Ksh 4000</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="products-single fix">
                                        <div class="box-img-hover">
                                            <img src="{% static 'Store/images/img-pro-02.jpg'%}" class="img-fluid" alt="Image">
                                            <div class="mask-icon">
                                                <ul>
                                                    <li><a href="{%url 'shop'%}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                            
                                                    <li><a href="{%url 'wishlist'%}" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                </ul>
                                                <a class="cart" href="cart.html">Add to Cart</a>
                                            </div>
                                        </div>
                                        <div class="why-text">
                                            <h4>Lorem ipsum dolor sit amet</h4>
                                            <h5> Ksh 1200</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="products-single fix">
                                        <div class="box-img-hover">
                                            <img src="{% static 'Store/images/img-pro-01.jpg'%}" class="img-fluid" alt="Image">
                                            <div class="mask-icon">
                                                <ul>
                                                    <li><a href="{%url 'shop'%}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                    
                                                    <li><a href="{%url 'wishlist'%}" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                </ul>
                                                <a class="cart" href="cart.html">Add to Cart</a>
                                            </div>
                                        </div>
                                        <div class="why-text">
                                            <h4>Lorem ipsum dolor sit amet</h4>
                                            <h5> Ksh 6000</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of products container -->

                
                
            </div>
            
            
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="title-all text-center">
                <hr>
                <h1>Check Out Our New Arrivals</h1>
                <hr>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="title-all text-center">
                <h2>Amazing offers available</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit, totam excepturi!</p>
            </div>
        </div>
    </div>

    <!-- Start Products  -->
    <div class="products-box">
        <div class="container">

           
    

            <div class="row special-list">
                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="sale">Sale</p>
                            </div>
                            <img src="{% static 'Store/images/img-pro-01.jpg'%}" class="img-fluid" alt="Image">
                            <div class="mask-icon">
                                <ul>
                                    <li><a href="{%url 'shop'%}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                    <li><a href="{%url 'wishlist'%}" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                </ul>
                                <a class="cart" href="{%url 'mycart'%}">Add to Cart</a>
                            </div>
                        </div>
                        <div class="why-text">
                            <h4>Lorem ipsum dolor sit amet</h4>
                            <h5> Ksh. 4500</h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 special-grid top-featured">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="new">New</p>
                            </div>
                            <img src="{% static 'Store/images/img-pro-02.jpg'%}" class="img-fluid" alt="Image">
                            <div class="mask-icon">
                                <ul>
                                    <li><a href="{%url 'shop'%}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                    <li><a href="{%url 'wishlist'%}" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                </ul>
                                <a class="cart" href="{%url 'mycart'%}">Add to Cart</a>
                            </div>
                        </div>
                        <div class="why-text">
                            <h4>Lorem ipsum dolor sit amet</h4>
                            <h5> Ksh. 3400</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid top-featured">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="new">New</p>
                            </div>
                            <img src="{% static 'Store/images/img-pro-03.jpg'%}" class="img-fluid" alt="Image">
                            <div class="mask-icon">
                                <ul>
                                    <li><a href="{%url 'shop'%}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                    <li><a href="{%url 'wishlist'%}" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                </ul>
                                <a class="cart" href="{%url 'mycart'%}">Add to Cart</a>
                            </div>
                        </div>
                        <div class="why-text">
                            <h4>Lorem ipsum dolor sit amet</h4>
                            <h5> Ksh. 4500</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid top-featured">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="new">New</p>
                            </div>
                            <img src="{% static 'Store/images/img-pro-04.jpg'%}" class="img-fluid" alt="Image">
                            <div class="mask-icon">
                                <ul>
                                    <li><a href="{%url 'shop'%}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                    <li><a href="{%url 'wishlist'%}" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                </ul>
                                <a class="cart" href="{%url 'mycart'%}">Add to Cart</a>
                            </div>
                        </div>
                        <div class="why-text">
                            <h4>Lorem ipsum dolor sit amet</h4>
                            <h5> Ksh. 7000</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid top-featured">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="new">New</p>
                            </div>
                            <img src="{% static 'Store/images/img-pro-03.jpg'%}" class="img-fluid" alt="Image">
                            <div class="mask-icon">
                                <ul>
                                    <li><a href="{%url 'shop'%}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                    <li><a href="{%url 'wishlist'%}" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                </ul>
                                <a class="cart" href="{%url 'mycart'%}">Add to Cart</a>
                            </div>
                        </div>
                        <div class="why-text">
                            <h4>Lorem ipsum dolor sit amet</h4>
                            <h5> Ksh. 3000</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid top-featured">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="new">New</p>
                            </div>
                            <img src="{% static 'Store/images/img-pro-01.jpg'%}" class="img-fluid" alt="Image">
                            <div class="mask-icon">
                                <ul>
                                    <li><a href="{%url 'shop'%}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                    <li><a href="{%url 'wishlist'%}" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                </ul>
                                <a class="cart" href="{%url 'mycart'%}">Add to Cart</a>
                            </div>
                        </div>
                        <div class="why-text">
                            <h4>Lorem ipsum dolor sit amet</h4>
                            <h5> Ksh. 2500</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid top-featured">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="new">New</p>
                            </div>
                            <img src="{% static 'Store/images/img-pro-04.jpg'%}" class="img-fluid" alt="Image">
                            <div class="mask-icon">
                                <ul>
                                    <li><a href="{%url 'shop'%}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                    <li><a href="{%url 'wishlist'%}" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                </ul>
                                <a class="cart" href="{%url 'mycart'%}">Add to Cart</a>
                            </div>
                        </div>
                        <div class="why-text">
                            <h4>Lorem ipsum dolor sit amet</h4>
                            <h5> Ksh. 4000</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid top-featured">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="new">New</p>
                            </div>
                            <img src="{% static 'Store/images/img-pro-04.jpg'%}" class="img-fluid" alt="Image">
                            <div class="mask-icon">
                                <ul>
                                    <li><a href="{%url 'shop'%}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                    <li><a href="{%url 'wishlist'%}" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                </ul>
                                <a class="cart" href="{%url 'mycart'%}">Add to Cart</a>
                            </div>
                        </div>
                        <div class="why-text">
                            <h4>Lorem ipsum dolor sit amet</h4>
                            <h5> Ksh. 3600</h5>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- End Products  -->

    <!-- Size selection  -->

    <div class="box-add-products">

        <!-- add size selection here -->

        <div class="col-lg-12">
            <div class="title-all text-center">
                
                <h1>Our Size Selection</h1>
                <hr>
            </div>
        </div>

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="offer-box-products">
                        <div class="box-img-hover">
                            <img class="img-fluid" src="{% static 'Store/images/add-img-03.jpg'%}" alt="" />
                            <div class="mask-icon">
                                <a class="cart" href="{%url 'shop'%}">Petite</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="offer-box-products">
                        <div class="box-img-hover">
                            <img class="img-fluid" src="{% static 'Store/images/add-img-04.jpg'%}" alt="" />
                            <div class="mask-icon">
                                <a class="cart" href="{%url 'shop'%}">Plus Size</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="offer-box-products">
                        <div class="box-img-hover">
                            <img class="img-fluid" src="{% static 'Store/images/add-img-03.jpg'%}" alt="" />
                            <div class="mask-icon">
                                <a class="cart" href="{%url 'shop'%}">Free Size</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="offer-box-products">
                        <div class="box-img-hover">
                            <img class="img-fluid" src="{% static 'Store/images/add-img-04.jpg'%}" alt="" />
                            <div class="mask-icon">
                                <a class="cart" href="{%url 'shop'%}">Normal Size</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- End size selction -->

    <!-- Start Blog  -->
    <div class="latest-blog">
        <div class="container">
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <hr>
                        <h1>Shop Clearance Sales</h1>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <div class="type-lb">
                            <p class="sale">Best Seller</p>
                        </div>
                        <img class="img-fluid" src="{% static 'Store/images/002.jpg'%}" alt="" />
                        <div class="mask-icon">
                            <a class="cart" href="{%url 'mycart'%}">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <div class="type-lb">
                            <p class="sale">Best Seller</p>
                        </div>
                        <img class="img-fluid" src="{% static 'Store/images/010.jpg'%}" alt="" />
                        <div class="mask-icon">
                            <a class="cart" href="{%url 'mycart'%}">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <div class="type-lb">
                            <p class="sale">Best Seller</p>
                        </div>
                        <img class="img-fluid" src="{% static 'Store/images/014.jpg'%}" alt="" />
                        <div class="mask-icon">
                            <a class="cart" href="{%url 'mycart'%}">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog  -->
    


    {%endblock content%}

    